@font-face {
  font-family: CtCambridge;
  src: url('CtCambridge.ttf');
}

#AllText {
  margin: 0px;
  padding: 0px;
  font-family: CtCambridge;
  font-size: 50px;
  color: #ffffff;
}

#entries {
  list-style-type: none;
}

#entryZE {
  margin: 2px;
  padding: 2px;
  font-family: CtCambridge;
  font-size: 50px;
  color: #ffffff;
  background: rgba(192, 192, 192, 0.25);
}

#entryON { 
  margin: 2px;
  padding: 2px;
  font-family: CtCambridge;
  font-size: 50px;
  color: #ffffff;
}

.button {
  margin: 2px;
  padding: 2px;
  font-family: CtCambridge;
  font-size: 50px;
  color: #ffffff;
  background: #3000D0;
  border: none;
  padding: 0px;
}